<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:label="Lost Boundaries Probe"
        android:supportsRtl="true">
        <receiver
            android:name=".ProbeReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="org.lostboundaries.probe.COMMAND" />
            </intent-filter>
        </receiver>
        <service
            android:name=".HoldJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>
</manifest>
